* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins";
}

a{
    text-decoration: none;
}
html{font-size: 10px;}
@media screen and (max-width:767px) {
    html{font-size: 8px;}
}
.container{
    max-width: 1366px;
    margin: 0 auto;
    padding: 0;
}
.header1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 3%;
}

.header1 .menu {
    display: flex;
    margin:10px;
    padding: 10px;
    /* flex-grow: 1; */
    /* border: 1px; */
}

.header1 .menu li {
    list-style-type: none;
    margin-right: 0;
}

.header1 .img1 {
    /* flex-grow: 1; */
    padding: 10px;
    justify-content: center;
    align-items: center;  
}

.img1 {
    justify-content: center;
}

.menu li {
    margin: 10px;
    padding: 10px;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    text-align: center;
    white-space: nowrap;
}

.lastmenubtn {
    background-color: #FC8600;
    border-radius: 30px;
    color: #ffffff;
}

@media screen and (max-width: 911px) {
  .menu li {
    font-size: 12px;
  }
}

/* SECTION 1 */

.section1 {
    position: relative;
}

.img2 {
    width: 100%;
    margin-right: 0;
}

.section1:after {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background: #000;
    opacity: 0.4;
    content: '';
    /* background: rgba(0,0,0,0.6); */
}

.textsec1 {
    position: absolute;
    z-index: 3;
    /* position: absolute; */
    color: #ffffff;
    top: 50%;
    left: 0;
    padding: 50px;
    width: 60%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.maintext {
    font-family: "Poppins";
    font-weight: 700;
    font-size: 64px;
    justify-content: center;
}

.maintext2 {
    font-family: "Poppins";
    font-weight: 600;
    font-size: 24px;
}

.mainbtn {
    font-family: "Poppins";
    font-weight: 500;
    font-size: 16px;
    display: flex;
    justify-content: left;
    gap: 10px;
}

.mainbtn a {
    border-radius: 200px;
    padding: 2%;
    margin-top: 4%;
    color: white
}

.mainbtn1 {
    background-color: #FC8600;
}

.mainbtn2 {
    border-color: #ffffff;
    /* border-width: 20px; */
    border-style: solid;
}

@media screen and (max-width: 911px) {
  .maintext {
    font-size: 30px;
  }
  .header1 .menu {
    position: fixed;
    right: -300px;
    top: 70px;
    z-index: 9999;
    width: 300px;
    background: #fff;
    padding: 20px;
    display: block;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
  }
  .header1 .menu.active {
    right: 0;
  }
  .maintext2 {
    font-size: 20px;
  }

  .mainbtn  {
    padding: 3% 4%;
    font-size: 12px;
  }
}

/* SECTION 2 */

.sec2 {
    background: linear-gradient(180deg, #FFFFFF 0%, #FFF7EB 100%);
    display: flex;
    flex-direction: column;
    font-family: "Poppins";
    padding-bottom: 15%;
}

.s2p1 {
    display: flex;
    padding: 10% 100px;
    justify-content: space-around;
}

/* .s2p1 img {
    padding: 0px 100px;
} */

.s2p1t1 {
    justify-content: left;
    margin: 0 10%;
    margin-right: 0;
}

.t1 {
    color: #000;
    font-weight: 500;
    font-size: 48px;
    margin: 3% auto;
    max-width: 80%;

}

.t2 {
    color: #94ACCD;
}

.t3 {
    color: #000;
    font-weight: 400;
    font-size: 20px;
    margin: 4% auto; 
    max-width: 80%;  
    letter-spacing: 3%;
}

.s2p1 img {
    max-width: 40%;
}

.btn2 {
    font-family: "Poppins";
    margin: 6% auto;
    font-weight: 500;
    font-size: 16px;
    color: white;
    border-radius: 200px;
    padding: 2% 2%;
    background-color: #FC8600;
    width: 220px;
    white-space: nowrap;
    /* display:block; */
    text-align: center;
}

.hamicon, .closemenu{
    display: none;
}

@media screen and (max-width: 911px) {
    .hamicon, .closemenu{
        display: block;
    }
  .t1 {
    font-size: 30px;
  }

  .t3 {
    font-size: 13px;
    /* margin-right: 0; */
  }

  .btn2 {
    padding: 4%
  }
}

.s2p2 {
    text-align: center;
    width: 100%;
    /* align-self: center; */
    margin: 0 auto;
}

.s2p3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding-bottom: 100px;
    margin: 0 10%;
}

.s2p3p1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card1 {
    width: 685px;
    top: -0.1px;
    border-radius: 25px;
    background-color: #FFFFFF;
    padding: 50px 30px;
}

.card1 img {
    margin-bottom: 6%;
}

.t4 {
    color: #FC8600;
    font-weight: 500;
    font-size: 24px;
    /* padding-top: 50px; */
}

.t5 {
font-weight: 400;
font-size: 16px;
color: #707070;
padding-top: 30px;
max-width: 514px;
}

@media screen and (max-width: 911px) {
    .card1 {
        max-width: 370px;
    }
}

.s2p4 {
    transform: translateY(-50%);
    position: relative;
    margin: 0 auto;
    max-width: 90%;
}

.s2p4 img {
        width: 100%;
}

.s2p4p1 {
    position: absolute;
    top: 50%;
    left: 0%;
    z-index: 1;
    transform: translateY(-50%);
    padding: 0 50px;
}

.t6 {
    font-weight: 600;
    font-size: 48px;
    color: #ffffff;
    font-family: "Poppins";
    max-width: 55%;
}



.btn3 {
    font-weight: 500;
    font-size: 16px;
    color: #FC8600;
    background-color: #FFFFFF;
    max-width: 161px;
    border-radius: 40px;
    padding: 2%;
    white-space: nowrap;
    margin: 3% 0;
    text-align: center;
    display: block;
}

.container1{
    max-width: 1366px;
    margin: 0 auto;
    padding: 0;
    height: 240px;
}

@media screen and (max-width: 911px) {
    .t6 {
        font-size: 24px;
    }
}

.sec3 {
    display: flex;
    align-items: center;
    padding-top: 50px;
    flex-direction: column;
    gap: 30px
}

.card2 {
    display: flex;
    flex-direction: column;
}


.s3p1t1 {
    display: flex;
    gap: 10px;
    /* align-items: flex-start; */
    margin: 0 6%;
}

.s3p1t1 img {
    align-self: self-start;
    padding: 30px;
}

.s3p1t2 {
    padding: 30px;
}

.s3p1c1 {
    background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 0%, #FFEAC8 100%);
    border-radius: 40px;;
    width: 601px;
    padding: 40px 0;
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.t7 {
    font-size: 20px;
    background-color: #ffffff;
    padding: 15px;
    border-radius: 50px;
    margin: 10px 30px;
    display: inline-block;
    align-self: flex-start;
}

.t8 {
    align-self: flex-end;
}

.t9 {
    padding: 5px;
}

.x1 {
    display: none;
}

.btn4 {
    font-size: 16px;
    padding: 2%;
    border-style: solid;
    border-color: #FC8600;
    color: #FC8600;
    border-radius: 40px;
    border-width: 2px;
    max-width: 170px;
    text-align: center;
    margin: 20px auto; 
}

@media screen and (max-width: 911px) {
    .t7 {
        font-size: 15px;
    }
}

.sec4 {
    background-color: #F8FBFF;
    padding-top: 40px;

}

.s4p1 {
    max-width: 55%;
    margin: 0 auto;
    padding-right: 10%;
}

/* own carousel */

#sync1 {
  .item {
    /* background: #0c83e7; */
    padding: 80px 0px;
    margin: 5px;
    margin-left: 200px;
    color: #F88019;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
  }
}

#sync2 {
  .item {
    background: #C9C9C9;
    padding: 10px 0px;
    margin: 5px;
    color: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
    h1 {
      font-size: 18px;
    }
  }
  .current .item{
    background: #0c83e7;
  }
}

.owl-theme {
  .owl-nav {
    [class*='owl-'] {
      transition: all .3s ease;
      &.disabled:hover {
       background-color: #D6D6D6;
      }   
    }
    
  }
}

/* //arrows on first carousel */
#sync1.owl-theme {
  position: relative;
  .owl-next, .owl-prev {
    width: 22px;
    height: 40px;
    margin-top: -20px;
    position: absolute;
    top: 50%;
  }
  .owl-prev {
    left: 10px;
  }
  .owl-next {
    right: 10px;
  }
}

/* .owl-carousel {
    height: 10px;
} */

.item {
    max-width: 60%;
    margin-left: 20%;
    /* background-color: red; */
}

.carr1 {
    display: flex;
    gap: 10%;
}

.c1i1 {
    max-width: 50%;
}

.t11 {
    margin-top: 50px;
    text-align: left;
}

.t12 {
    text-align: left;
}

#sync2 {
    display: none;
}

/* CAROUSEL FIN */

.t10 {
    font-size: 40px;
    max-width: 80%;
    margin: 20px auto;
    text-align: center;
}

.s5p1 {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.a1 {
    font-weight: 600;
    font-size: 18px;
    color: black;
    margin-right: 20px;
}

.s5p2 {
    background-color: #323956;
    color: #EFEFEF;
    padding: 1% 15%;
    font-family: "Inter";
    font-size: 13px;
    font-weight: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 911px) {
    .t10 {
        font-size: 30px;
    }

    .a1 {
        font-size: 14px;
    }

    .s5p2 {
        font-size: 9px;
    }
}

.sec4 {
    display: none;
}

.sec6 {
    background-color: #FFEAC8;
    padding: 20px;
    list-style-type: none;
}

.acc {
    margin: 0 auto;
    max-width: 60%;
    font-size: 24px;
    background-color: #fff;
    /* border-radius: 20px; */
}

.acc div {
    border-style: solid;
    border-color: #707070;
    border-width: 1px;
    padding: 2%;
}

.acc img {
    width: 70px;
    padding-right: 1%;
}

.ac1p1 {
    display: none;
}

.m {
    display: none;
}

.acc1.active .accor {
    .n {
        display: none;
    }

    .m {
        display:inline-block;
    }
}