* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "inter";
}

p {
    font-family: "Karla";
    font-weight: 400;
    font-size: 18px;
}

a {
    text-decoration: none;
}

.header {
    background: #323956;
    padding: 1% 3%;
    height: 90px;
    position: fixed;
    width: 100%;
    z-index: 9999;
    top:0;
    left: 0;
}

.menu {
position: relative;}

.menulist {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
    height: 100%;
    position: relative;
    padding-left: 0;
}

.menulist li a {
    color: #fff;
    font-size: 16px;
    font-family: "karla";
}

.menulist li:nth-child(5) {
    background-color: #fff;
    font-weight: 600;
    font-size: 15px;
    padding: 1% 2%;
    border-radius: 20px;
    margin: 0px 7%;
    /* display: block; */
    
    a {
        color: #000;
    }
    
}

.menulist li:nth-child(5):hover {
    background-color: #008080;    
    a {
        color: #fff;
    }
    text-decoration: none;
    
}

.menulist li:hover {
    text-decoration: underline #fff 2px;
    text-underline-offset: 10px;
}

.menudrop {
    background: #323956;
    /* color: #fff; */
    position: absolute;
    display: none;
       /* border: solid; */
    top: 70%;
    box-shadow: 5px 5px 5px #d4d1d1;
    border-radius: 10px;

}

.menudrop ul {
    padding: 0px;
}

.menudrop ul li {
    list-style-type: none;
    text-decoration: none;
    border-color: #e4e4e4;
    border-bottom: solid;
    border-width: 1px;
    padding: 20px;
}

.menudrop ul li:nth-child(6) {
    border-style: none;
}

.menudrop ul li a {
    color: #fff;
    font-size: 16px;
}

.ham img {
    width: 40px;
    /* display: inline-block; */
    cursor: pointer;
    display: none;
}

.collapsemenu {
    position: fixed;
    top: 90px;
    right: -400px;
    /* right: 0; */
    height: 100%;
    width: 400px;
    background-color: #323956;
    content: '';
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    box-shadow: 5px 5px 5px 5px #d4d1d1;;
}

.collapsemenu.active {
    right: 0px;
}

.menu1, .menu2 {
    list-style-type: none;
    color: #fff;
}

.menu1 li, .menu2 li {
    border-color: #e4e4e4;
    border-bottom: solid;
    border-width: 1px;
    padding: 7%;
    /* margin: 20px; */
}

.menu1 li a, .menu2 li a {
    color: #fff;
    /* padding: 2%; */
    
}

@media screen and (max-width:991px){
    .menudrop {
        display: none;
    }

    .menulist {
        justify-content: flex-end;
    }

    .menulist li {
        display: none;
    }

    .menulist li:nth-child(5), .menulist li:nth-child(6) {
        display: block;
    }

    .ham img {
        display: block;
    }
}

body {
    padding-top: 90px;
}

.headsec {
    padding-bottom: 90px;
    overflow: hidden;
}

.headcontent {
    padding: 50px 0px;
    background: #323956;
    height: 754px;
}

h1 {
    font-family: "Space Grotesk";
    font-weight: 700;
    font-size: 48px;
    text-align: center;
    color: white;
}

.headsec div p {
    font-family: "Karla";
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    color: white;
}

.videosec {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.servicedesc {
    margin: 100px 0;
}

.servicedesc p{
    font-family: "Karla";
    font-weight: 400;
    font-size: 22px;
    text-align: center;
    width: 72%;
    margin: 10px auto;
    /* margin-top: 50px; */
}

video {
    position: relative;
}

video::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    content: '';
    z-index: 5;
    background-image: url(https://www.nptsolution.com/wp-content/themes/npt/assets/images/bannerdots.png);
}

.heading1 {
    text-align: center;
    width: 45%;
    margin: 0 auto;
}

h5 {
    font-family: "Karla";
    font-weight: 600;
    font-size: 30px;
    color: #12715B;
}

h2 {
    font-family: "Space Grotesk";
    font-weight: 700;
    font-size: 40px;
    color: #323956;
    margin: 16px 0;
}

.cardserv {
    margin: 7px;
    position: relative;
}



.cardserv img {
    width: 100%;
}

.servicecards {
    margin: 50px auto;
}

.servicecards div div {
    padding: 0;
}

.cardserv::after {
    background: #171E3C;
    opacity: 0.6;
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    content: '';
}

.cardserv:hover::after {
    opacity: 0.8;
    
}
/* 
.cardserv:hover {
    cursor: pointer;
} */

.cardserv:hover div div h6 {
    display: block;
    font-size: 16px;
    font-weight: 400;   
}

#one {
    height: calc(100% - 14px);
}
 
#one img {
    height: 100%;
}

.servtext {
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    /* margin: auto auto; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.servtext div {
    width: 70%;
    color: #fff;
    z-index: 3;
}

/* .servtext div {
    height: 100%;
} */

.servtext div img {
    height: 10%;
}

.servtext div p {
    font-family: "Karla";
    font-weight: 700;
    font-size: 20px;
}

.servtext div h3 {
    font-family: "Space Grotesk";
    font-weight: 700;
    font-size: 40px;
}

.servtext div h6 {
    font-family: "Karla";
    font-weight: 600;
    font-size: 20px;
    display: none;
}

/* .cardserv:hover {
    .cardserv:after
} */

.viewall {
    text-align: center;
    color: #323956;
}

.arr1 {
    border-radius: 50%;
    border-style: solid;
    border-color: #C8C8C8;
    /* padding: 1px; */
    border-width: 1px;
    height: 30px;
    width: 30px;
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 50px;
}

.tellus {
    background: #008080;
    padding: 1% 0;
    display: block;
    margin: 40px auto;
    width: 25%;
    color: #fff;
    text-align: center;
    border-radius: 50px;
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 100px;
    border: none;
}

.aboutus {
    background: linear-gradient(92.45deg, #F4FBFF 1.57%, #F7FCFF 51.24%, #FFFFFF 80.85%);
}

.about {
    padding: 50px 12%;
}

.aboutpic {
    border-radius: 50%;
    max-width: 100%;
}

.abouttext {
    padding-right: 10%;
}

.heading2 {
    width: 90%;
    margin-bottom: 30px;
}

.pts {
    padding: 80px 0;
}
.pointtext {
    padding: 0px 6%;
}

.pointhead {
    display: flex;
    gap: 10px;
}

.meetteam {
    background: linear-gradient(180deg, #F4FBFF 0%, #FCFEFF 100%);
    padding: 80px 0;
}

.grant {
    max-width: 100%;
    border-radius: 50%;
    /* margin-right: 40px; */
    margin-left: -10%;
}

.footerbefore {
    background: #F4FBFF;
    padding: 80px 0;
}

.linkbox {
    display: flex;
    gap: 15px;
    justify-content: center;
    flex-wrap: wrap;
}

.links p{
    margin-bottom: 0;
    color:#323956;
    margin-left: 10px;
}

.footer {
    background: #323956;
}

.end {
    display: flex;
    justify-content: space-around;
    color: #fff;
    align-items: center;
    padding: 10px 0;
}


.end p {
    margin-bottom: 0px;
    font-size: 13px;
}

/* SERVICES PAGE */

.srv_header {
    position: relative;
    /* padding-top: 100px; */
}

.srv_header img {
    width: 100%;
}

.srv_header::after {
    background: #000;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    top: 0;
    left: 0;
    content:'';
    position: absolute;
}

.srv_headertext {
    position: absolute;
    z-index: 2;
    width: 100%;
    top: 50%;
    transform: translate(0%, -50%);
    text-align: center;
    color: white;
}

.srv_headertext p {
    width: 60%;
    margin: 0 auto;
    font-family: Karla;
    font-weight: 600;
    font-size: 20px;
}

.srv_h1, .srv_h2 {
    padding-bottom: 40px;
}

.srv_h1::after {
    width: 150px;
    height: 3px;
    content: '';
    background: #fff;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.srv_h2::after {
    width: 150px;
    height: 3px;
    content: '';
    background: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

/* LMS PAGE */

.lms_text, .lms_features {
    padding: 70px 0;
    text-align: center;
}

.lms_features {
    padding-bottom: 1px;
}

.lms_text div img {
    width: 100%;
    margin: 40px auto;
}

.lms_bod p, .ai_bod p, .ecm_bod p, .cst_bod p, .mt_bod p, .sap_bod p, .sap_bod li {
    font-size: 22px;
    font-family: "Karla";
}

.lms_features {
    background: #E8F2FF;
}

.lms_solimg {
    width: 100%;
}

.heading3 {
    text-align: left;
}

h4 {
    font-family: "Space Grotesk";
    font-weight: 700;
    font-size: 30px;
    position: relative;
    display: inline-block;
}

h4::after {
    top: calc(100% + 10px);
    left: 0;
    height: 4px;
    width: 50%;
    position: absolute;
    content: '';
    background: #209090;
}

.lms_row {
    padding: 1% 0 7%  0;
}

.accbox {
    margin: 0 6%;
}

.accordion {
    margin: 30px 0;
    /* border-radius: 0; */
}

.accordion-item {
    background: transparent;
    border: none;
    border-bottom: solid;
    border-width: 1px;
    border-color: #969696;
    /* border-radius: 0; */
}

.accordion-button {
    background: transparent;
    font-size: 24px;
    font-family: "Space Grotesk";
    font-weight: 500;
    padding: 30px 0;
    /* position: relative; */
    margin: 0;
}
.accordion-button:not(.collapsed) {
    background: transparent;
    box-shadow: none;
}

.accordion-item:last-of-type {
    border-radius: 0;
}
 
.accordion-body {
    text-align: left;
    padding-left: 0;
    padding-right: 0;
}

.lms_show {
    margin-left: auto;
    background: transparent;
    border-style: none;
    font-family: 'Space Grotesk';
    display: block;
}

.accordion-item.active {
    display: none;
}

.lms_show.active {
    display: none;
}

/* AI AND DATA ANALYTICS */

.ai_sec1, .ai_sec2 {
    padding: 70px 0;
}

.ai_sec2, .ai_services_2 {
    background: #E8F2FF;
}

.ai_textbox {
    border-style: solid;
    border-color: #d4d1d1;
    border-width: 1px;
    margin: 50px 0;
    padding: 5% 3%;
    box-shadow: 5px 5px 5px #d4d1d1;
    background-color: #fff;
}

svg {
  width: 40px;
  margin-right: 15px;
  margin-top: 5px;
  min-width: 40px;
  /* display: inline-block; */
}

.ai_text {
    display: flex;
    font-family: "Space Grotesk", sans-serif;
    font-size: 24px;
    font-weight: 500;
    align-items: center;
}

/* CUSTOM APPLICATIONS */

.cst_list {
    list-style-type: none;
}

.cst_list li {
    margin: 5% 0;
}

/* ECOMMERCE */

.ecm_sec {
    padding-top: 7%;
}

.ecm_heading {
    margin: 8% 0;
}

.ecm_list {
    padding-left: 0;
}

.ecm_list li {
    font-size: 18px;
    font-weight: 400;
    font-family: "karla";
    margin: 1%;
}

.ecm_box {
    margin: 50px 5%;
}

.ecm_text {
    display: flex;
    align-items: flex-start;
}

.ecm_text div {
    font-family: "Space Grotesk", sans-serif;
    font-size: 24px;
    font-weight: 500;
}

/* METAVERSE */

.mt_img1 {
    margin: 2% 0;
}

.mt_box {
    border: none;
    box-shadow: none;
    margin: -2% 0;
    background: transparent;
}

/* SAP PAGE */

/* .sap_bod .container {
    width: 80%;
} */

.sap_sec1 {
    padding: 5% 0;
}

.container1 {
    padding: 0 5%;
}

.sap_box {
    position: relative;
    /* margin: 150px 0; */
    height: calc(100% - 250px);

}

.sap_cardbox {
    background: #323956;
    height: 270px;
    padding: 5%;
    border-radius: 10px;
    position: absolute;
    /* position: absolute; */
    top: -100px;
    left: 0;
    /* transform: translate(-50%, 0%); */
    width: 100%;
    /* width: 50px; */
    height: 200px;
    content: "";
    z-index: 1;
}

.sap_cardtext {
    
    display: flex;
    align-items: center;
    margin: 3%;
}

.sap_cardtext h5 {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}

.sap_cardtext svg {
    display: block;
    width: 60px;
}

.sap_textbox {
    background: #fff;
    border-radius: 10px;
    width: calc(100% - 30px);
    margin: 0 auto;
    padding: 5%;
    position: relative;
    z-index: 2;
    margin-bottom: 150px;
    /* height: 100%; */

    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
    
    /* width: 50px; */
    /* height: 100%;
    content: "";
    z-index: 3; */ 
}

.sap_list li {
    margin: 5%;
}

/* everything else */

input, textarea {
    margin-bottom: 2%;
    /* position: relative; */
}

label {
    font-family: "karla";
    color: #47494b;
}

@media screen and (max-width:1199px){
    h1 {
        font-size: 28px;
    }

    p{
        font-size: 16px;
    }

    h2 {
        font-size: 26px;
    }

    h5 {
        font-size: 22px;
    }

    .servtext div h3 {
        font-size: 26px;
    }

    .cardserv img {
        height: 419px;
        object-fit: cover;
        /* width: 100%; */
    }

    .servtext div p {
        font-size: 16px;
    }

    .servtext div h6 {
        font-size: 14px;
    }

}

@media screen and (max-width:991px){
    .servicedesc p {
        font-size: 18px;
    }

    .about {
        padding: 50px 5%;
    }

    .formimg {
        display: none;
    }

    .menulist li:nth-child(5) {
        margin: 0 3%;
    }
}

@media screen and (max-width:767px){
    h1 {
        font-size: 20px;
    }

    .headsec div p {
        font-size: 15px;
    }

    video {
        width: 100%;
    }

    .headcontent {
        height: 400px;
    }

    .servicedesc {
        margin-top: 0;
    }

    .servicedesc p {
        font-size: 15px;
    }

    .heading1 {
        width: 90%;
    }

    h2{
        font-size: 22px;
    }

    h5{
        font-size: 18px;
    }

    .tellus{
        width: 65%;
    }

    .pointhead, .pointtext {
        justify-content: center;
        text-align: center;
    }

    .pointtext {
        margin-bottom: 20px;
    }

    .grant {
        margin: 20px auto;
    }
}
